<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="devise_box">
      <div class="col-xs-6 col-xs-offset-2">
        <h3>新規会員登録</h3>
      </div>
      <div class="col-xs-8 col-xs-offset-3">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "customers/shared/error_messages", resource: resource %>
          <table>

          <tr>
            <div class="devise_field">
              <th>名前(姓)</th>
              <th><%= f.text_field :first_name, autofocus: true, class: "first_name form-control" %></th>
              <th>(名)</th>
              <th><%= f.text_field :last_name, autofocus: true, class: "last_name form-control" %></th>
            </div>
          </tr>
          <tr>
            <div class="devise_field">
              <th>フリガナ(セイ)</th>
              <th><%= f.text_field :first_name_kana, autofocus: true, class: "first_name_kana form-control" %></th>
              <th>(メイ)</th>
              <th><%= f.text_field :last_name_kana, autofocus: true, class: "last_name_kana form-control" %></th>
            </div>
          </tr>
          <tr>
          <div class="devise_field">
            <th>メールアドレス</th>
            <th><%= f.email_field :email, autofocus: true, autocomplete: "email form-control", class: "form-control" %></th>
          </div>
          </tr>
          <tr>
          <div class="devise_field">
            <th>郵便番号(ハイフンなし)</th>
            <th><%= f.text_field :postal_code, autofocus: true, class: "postal_code form-control" %></th>
          </div>
          </tr>
          <tr>
          <div class="devise_field">
            <th>住所</th>
            <th><%= f.text_field :address, autofocus: true, class: "address form-control" %></th>
          </div>
          </tr>
          <tr>
          <div class="devise_field">
            <th>電話番号(ハイフンなし)</th>
            <th><%= f.text_field :phone_number, autofocus: true, class: "phone_number form-control" %></th>
          </div>
          </tr>
          <tr>
          <div class="devise_field">
            <th>
              パスワード
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %>文字以上)</em>
              <% end %>
            </th>
            <th><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></th>
          </div>
          </tr>
          <tr>
          <div class="devise_field">
            <th>パスワード(確認用)</th>
            <th><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></th>
          </div>
          </tr>
          <tr>
            <th></th>
            <th>
              <div class="actions up-btn">
                <%= f.submit "新規登録", class: "btn btn-success" %>
              </div>
          </th>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <h3>既に登録済みの方</h3>
    </div>
    <div class="col-xs-8 col-xs-offset-3">
      <%= link_to "こちら", new_customer_session_path %>からログインしてください。
    </div>
  </div>
</div>
