<h2 class="head-line title_h2 text-center">商品編集</h2>

<%= form_with model:@item, :url: admin_items_path, method:patch, local:true do |f| %>

  <div class="img_field">
    <%= attachment_img_tag(@item, :image, size: "200×160") %>
  </div>

  <div class="form_group">
    <%= f.attachment_field :image, class="image" %>
  </div>


  <table>
    <div class="form_group">
      <%= f.label :"商品名" %>
      <%= f.text_field :name %>
    </div>
    <div class="form_group">
      <%= f.label :"商品説明" %>
      <%= f.text_area :introduction %>
    </div>
    <div class="form_group">
      <%= f.label :"ジャンル" %>
      <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "--選択してください--"), class: "genre_id" %>
    </div>
    <div class="form_group">
      <%= f.label :"税抜価格" %>
      <%= text_field :price %>円
    </div>
    <div class="form_group">
      <%= f.label :"販売ステータス" %>
      <%= f.select :is_active, [["販売中",true],["販売停止中",false]], prompt: "--選択してください--", class: "is_active" %>
    </div>
  </table>
    <div class="actions">
     <%= f.submit "変更を保存", class: "btn btn-primary pull-right" %>
    </div>

<% end %>