<div class="row">
  <div class="col-xs-12">
    <h2 class="head-line title_h2 text-center">商品新規登録</h2>
    <%= form_with model:@item, url: admin_items_path, method: :post, class: "form-horizontal"), local:true do |f| %>
      <% if resource.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% resource.errors.full_messages.each do |message| %>
             <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-xs-4 col-xs-offset-1">
        <div class="img_field">
  	      <%= f.attachment_field :image, class: "image" %>
  	    </div>
      </div>
      <div class="col-xs-6">
        <%= render "form_product", f: f %>
        <div class="actions col-xs-7">
  	      <%= f.submit "新規登録", class: "btn btn-primary btn-lg pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>