<%= render 'layouts/admin_header' %>

<h3>ジャンル編集</h3>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <%= form_with model:@genre, :url => {:action => :update}, local:true do |f| %>
        <div>
          ジャンル
          <%= f.text_field :name %>
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, "有効", {value: :true, style: "display: inline-block;"} %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, "無効", {value: :false, style: "display: inline-block;"} %>
          <%= f.submit "変更を保存する", class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>