<%= render 'layouts/admin_header' %>

<div class="container">
  <div class="row">
    <h3><%= "#{@customer.last_name}#{@customer.first_name}" %>さんの会員情報編集</h3>
    <div class="col-xs-9">
      <%= form_with model: @customer, url: admins_customer_path, method: 'patch', local: true do |f| %>
        <table class="table">
          <tr>
            <td>顧客ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name %> <%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.text_field :phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <%= f.radio_button :is_deleted, :false %>
              <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
              <%= f.radio_button :is_deleted, :true %>
              <%= f.label :is_deleted, "退会済み", {value: :true, style: "display: inline-block;"} %>
            </td>
          </tr>
        </table>
        <%= f.submit "変更を保存する", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>