<%= render 'layouts/admin_header' %>

<div class="container">
  <div class="row">
    <h3><%= "#{@customer.last_name}#{@customer.first_name}" %>さんの会員情報編集</h3>
    <div class="col-xs-9">
      <div class="col-xs-3">
        <P>顧客ID</P>
        <P>氏名</P>
        <P>フリガナ</P>
        <P>郵便番号</P>
        <P>住所</P>
        <P>電話番号</P>
        <P>メールアドレス</P>
      </div>
      <%= form_with model:@customer, url: admins_customer_path, method: 'patch', local:true do |f| %>
        <div class="col-xs-6">
          <P><%= @customer.id %></P>
          <P><%= f.text_field :last_name %> <%= f.text_field :first_name %></P>
          <P><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></P>
          <P><%= f.text_field :postal_code %></P>
          <P><%= f.text_field :address %></P>
          <P><%= f.text_field :phone_number %></P>
          <P><%= f.text_field :email %></P>
          <%= f.submit "変更を保存する", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>