<%= render 'layouts/admin_header' %>

<div class="container">
  <div class="row">
    <h3><%= "#{@customer.last_name}#{@customer.first_name}" %>さんの会員詳細</h3>
    <div class="col-xs-9">
      <div class="col-xs-3">
        
        <P>顧客ID</P>
        <P>氏名</P>
        <P>フリガナ</P>
        <P>郵便番号</P>
        <P>住所</P>
        <P>電話番号     <%= @customer.phone_number %></P>
        <P>メールアドレス     <%= @customer.email %></P>
      </div>
      <div class="col-xs-6">
        <P><%= @customer.id %></P>
        <P><%= "#{@customer.last_name} #{@customer.first_name}" %></P>
        <P><%= "#{@customer.last_name_kana} #{@customer.first_name_kana}" %></P>
        <P><%= @customer.postal_code %></P>
        <P><%= @customer.address %></P>


      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="col-xs-4">
        <%= link_to "編集する", edit_admins_customer_path(@customer.id), class: "btn btn-primary" %>
      </div>
      <div class="col-xs-4">
        <%= link_to "注文履歴一覧を見る", edit_admins_customer_path(@customer.id), class: "btn btn-primary" %>
        <!--パス暫定-->
      </div>
    </div>
  </div>
</div>
