<div class="container">
<div class="row">

<h4>マイページ</h4>

<tr>
  <th>登録情報</th>
  <th><%= link_to '編集する', edit_customer_path, class: "btn btn-primary" %></th>
  <th><%= link_to 'パスワード変更', edit_customer_password_path, class: "btn btn-primary" %></th>
</tr>

<table class="table table-responsive table-bordered">

  <tbody>
    <tr>
      <th class="col-sm-2">名前</th>
      <td class="col-sm-10"><%= @customer.first_name %><%= @customer.last_name %></td>
    </tr>

    <tr>
      <th class="col-sm-2">カナ</th>
      <td class="col-sm-10"><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
    </tr>

    <tr>
      <th class="col-sm-2">郵便番号</th>
      <td class="col-sm-10"><%= @customer.postal_code %></td>
    </tr>

    <tr>
      <th class="col-sm-2">住所</th>
      <td class="col-sm-10"><%= @customer.address %></td>
    </tr>

    <tr>
      <th class="col-sm-2">電話番号</th>
      <td class="col-sm-10"><%= @customer.phone_number %></td>
    </tr>

    <tr>
      <th class="col-sm-2">メールアドレス</th>
      <td class="col-sm-10"><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

</div>

<tr>
  <th>配送先</th>
  <th><%= link_to '一覧を見る', addresses_path, class: "btn btn-primary" %></th>
</tr>

<tr>
  <th>注文履歴</th>
  <th><%= link_to '一覧を見る', orders_path, class: "btn btn-primary" %></th>
</tr>

</div>