<%= render 'layouts/header' %>
<div class="container">
  <div class="row">

    <div class="col-xs-1">
    </div>

    <div class="col-xs-7">
      <%= form_with model: @order, url: '/orders', method: :post, local: true do |f| %>
       <%= f.hidden_field :address, :value => @address.address %>
       <%= f.hidden_field :postal_code, :value => @address.postal_code %>
       <%= f.hidden_field :name, :value => @address.full_name %>
       <%= f.hidden_field :payment_method, :value => @order.payment_method %>
       <%= f.hidden_field :total_payment, :value => @total_payment %>
       <%= f.hidden_field :shipping_cost, :value => 800 %>

     <table class="table table-bordered">
       <h2>注文情報確認</h2>
      <thead>
        <tr class="active">
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>

      <tbody>
        <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td>¥<%= tax_included_price(cart_item.item.price) %></td>
            <td><%= cart_item.amount %></td>
            <td>¥<%= ((cart_item.item.price * 1.1).round * cart_item.amount).to_s(:delimited) %></td>
          </tr>
          <% @sum += ((cart_item.item.price * 1.1).round * cart_item.amount) %>
        <% end %>
      </tbody>
    </table>

    <div class="">
      <h3>支払い方法</h3>
      <div class="">
        <%= @order.payment_method %>
      </div>
      <h3>お届け先</h3>
      <div class="">
        <%= @address.postal_code %>
        <%= @address.address %>
        <%= @address.full_name %>
      </div>
    </div>
    <div class="thanks-btn">
      <%= f.submit "購入を確定する", class: "btn btn-success btn-lg" %>
    </div>
    <% end %>
    </div>

    <div class="col-xs-3">
      <table class="table table-bordered table-cost">
        <tr>
          <th class="active">送料</th>
          <td>800</td>
        </tr>
          <tr>
          <th class="active">商品合計</th>
          <td><%= @sum %>
          </td>
        </tr>
        <tr>
          <th class="active">請求金額</th>
          <% @sum += 800 %>
          <td><%= @sum.to_s(:delimited) %></td>
          <% @total_payment = @sum %>
        </tr>
      </table>
    </div>
  </div>
</div>