<%= render 'layouts/header' %>
<div class="container">
  <div class="row">

    <div class="col-xs-3">
        <%= render 'items/search' %>
    </div>

    <div class="col-xs-9">

     

     <table class="table table-bordered">
       <h2>注文情報確認</h2>
      <thead>
        <tr class="active">
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= tax_included_price(cart_item.item.price) %></td>
            <td><%= cart_item.amount %></td>
            <td>小計</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3>支払い方法</h3>
    <h3>お届け先</h3>
    購入を確定するpost

    </div>
  </div>
</div>