<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">

      <h3>注文情報入力</h3>
      <div>
        <%= form_with(model: @order, url: '/orders/confirm', method: :post, local: true) do |f| %>

        <h5>支払方法</h5>
          <%= f.radio_button :payment_method, :"クレジットカード" %>
          <%= f.label :payment_method, "クレジットカード" %><br>
          <%= f.radio_button :payment_method, :"銀行振込" %>
          <%= f.label :payment_method, "銀行振込" %>
      </div>

      <div>
        <h5>お届け先</h5>
        <%= f.radio_button :address_option, 1 %>
        <%= f.label :address, "ご自身の住所" %>
        <%= current_customer.postal_code %><%= current_customer.address %><%= current_customer.full_name %><br>
        <%= f.radio_button :address_option, 2 %>
        <%= f.label :address, "登録済住所から選択" %>
          <div class="form_group">
            <%= f.collection_select :address_id, @addresses, :id, :address_name, include_blank: "--選択してください--" %>
          </div>
        <%= f.radio_button :address_option, 3 %>
        <%= f.label :address, "新しいお届け先" %><br>

        <table>
        <tr>
          <div class="form-group">
            <label class="col-xs-4">郵便番号(ハイフンなし)</label>
            <div class="col-xs-6">
              <%= f.text_field :postal_code, class: 'form-control' %>
            </div>
            <div class="col-xs-2"></div>
          </div>
        </th>
        </tr>
        <tr>
          <div class="form-group">
            <label class="col-xs-4">住所</label>
            <div class="col-xs-6">
              <%= f.text_field :address, class: 'form-control' %>
            </div>
            <div class="col-xs-2"></div>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <label class="col-xs-4">宛名</label>
            <div class="col-xs-6">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="col-xs-2"></div>
          </div>
        </tr>
        </table>
        <div class="col-xs-12">
          <div class="confirm-btn">
            <%= f.submit '確認画面へ進む', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
</div>