<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <table class="table table-bordered">
          <h4>注文情報</h4>
          <tr>
            <th class="active">注文日</th>
            <th><%= @order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></th>
          </tr>
          <tr>
            <th class="active">配達先</th>
            <th>
              <%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.full_name %>
            </th>
          </tr>
          <tr>
            <th class="active">支払方法</th>
            <th><%= @order.payment_method %></th>
          </tr>
          <tr>
            <th class="active">ステータス</th>
            <th><%= @order.status %></th>
            <th>ステータス</th>
            <th><%= @order.status %></th>
          </tr>
      </table>
      </div>

      <div class="col-xs-5">
      <table class="table table-bordered">
          <h4>請求情報</h4>
          <tr>
            <th class="active">商品合計</th>
            <th>
              <%= @sum.round.to_s(:delimited) %>
            </th>
          </tr>
           <tr>
            <th class="active">配送料</th>
            <th><%= @order.shipping_cost %></th>
          </tr>
           <tr>
            <th class="active">御請求額</th>
            <th><%= @order.total_payment.round.to_s(:delimited) %></th>
          </tr>
      </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
      <table class="table table-bordered">
          <h4>注文内容</h4>
          <tr>
            <th class="active">商品</th>
            <th class="active">単価(税込)</th>
            <th class="active">個数</th>
            <th class="active">小計</th>
          </tr>
          <% @order.order_details.each do |order| %>
          <tr>
            <th><%= order.item.name %></th>
            <th><%= tax_included_price(order.item.price) %></th>
            <th><%= order.amount %></th>
            <th><%= (tax_included_price(order.item.price).gsub(',','').to_i * order.amount).round.to_s(:delimited) %></th>
          </tr>
          <% end %>
      </table>
      </div>

      <div class="col-xs-4">
      </div>

    </div>
  </div>
</div>