<%= render 'layouts/admin_header' %>

<div class="container">
  <h3>商品編集</h3>
  <div class="row">
    <%= form_with model: @item, url: admins_item_path, method: 'patch', local: true do |f| %>
      <div class="col-xs-6">
        <%= attachment_image_tag @item, :image, :fill, 400, 300, fallback: "no_image.jpg" %>
        <%= f.attachment_field :image %>
      </div>
      <div class="col-xs-6">
        <div class="item-edit">
        <table>
          <tr>
          <div class="form_group">
            <th><%= f.label :"商品名" %></th>
            <th><%= f.text_field :name %></th>
          </div>
          </tr>
          <tr>
          <div class="form_group">
            <th><%= f.label :"商品説明" %></th>
            <th><%= f.text_area :introduction %></th>
          </div>
          </tr>
          <tr>
          <div class="form_group">
            <th><%= f.label :"ジャンル" %></th>
            <th><%= f.collection_select :genre_id, Genre.where(is_active: true), :id, :name, include_blank: "--選択してください--" %></th>
          </div>
          </tr>
          <tr>
          <div class="form_group">
            <th><%= f.label :"税抜価格" %></th>
            <th><%= f.text_field :price %>円</th>
          </div>
          </tr>
          <tr>
          <div class="form_group">
            <th><%= f.label :"販売ステータス" %></th>
            <th><%= f.select :is_active, [["販売中",true],["販売停止中",false]], prompt: "--選択してください--", class: "is_active" %></th>
          </div>
          </tr>
        </table>
        </div>
      </div>
      <div class="actions">
       <%= f.submit "変更を保存", class: "btn btn-primary pull-right" %>
      </div>
    <% end %>
  </div>
</div>