<%= render 'layouts/admin_header' %>

<div class="container">
  <h3 class="head-line title_h2 text-center">商品一覧</h3>
  <%= link_to "新規商品登録", new_admins_item_path, class:"btn btn-warning pull-right" %>
  <table>
    <thead>
      <tr class="info">
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @items.each do |item| %>
          <td><%= item.id %></td>
          <td>
            <%= link_to admins_item_path(item), class:"btn-link" do %>
              <%= item.name %>
            <% end %>
          </td>
          <td><%= item.price.to_s(:delimited) %></td>
          <td><%= item.genre.name %></td>
          <td>
            <% if item.is_active == true %>
              <p>販売中</p>
            <% elsif item.is_active == false %>
              <P>販売停止中</P>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
  <div class="text_center"><%= paginate(@items) %></div>
</div>

