<%= render 'layouts/admin_header' %>

<div class="container">
  <div class="row">
    <h3>商品一覧</h3>
    <div class="col-xs-2 col-xs-offset-10">
      <%= link_to new_admins_item_path do %>
        <i class="fas fa-plus-circle fa-4x "></i>
      <% end %>
    </div>
    <div class="col-xs-12">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td>
                <%= link_to admins_item_path(item), class:"btn-link" do %>
                  <%= item.name %>
                <% end %>
              </td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active == true %>
                  販売中
                <% elsif item.is_active == false %>
                  販売停止中
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


