<%= render 'layouts/admin_header' %>
<h2><%= @item.name %></h2>
<h2><%= @item.introduction %></h2>
<h2><%= @item.price %></h2>
<h2>画像</h2>
<%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>

<%= link_to "編集", edit_admins_item_path(@item), class: "btn btn-primary" %>