<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
　　　 <div class="addresse-form">
        <h1>配送先登録/一覧</h1>
        <%= form_with  model: @address  do |f| %>
        <div class="form-group">
          <label class="col-xs-4 control-label">郵便番号(ハイフンなし)</label>
          <div class="col-xs-6">
            <%= f.text_field :postal_code, class: 'address_postal_code form-control' %>
          </div>
          <div class="col-xs-2"></div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label">住所</label>
          <div class="col-xs-8">
            <%= f.text_field :address, class: 'address_address form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-4 control-label">宛名</label>
          <div class="col-xs-6">
            <%= f.text_field :name, class: 'address_name form-control' %>
          </div>
          <div class="col-xs-2"></div>
        </div>
        <div class="address-update-btn col-xs-12">
          <%= f.submit '登録する', class: 'btn btn-success' %>
        </div>
        <% end %>
      </div>
    <table class="table table-bordered address-table">
      <thead>
        <tr class="active">
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
              <%= link_to "編集する", edit_address_path(address), class: "btn btn-primary" %>
              <%= link_to "削除する", address_path(address), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>