<%= render 'layouts/header' %>
<div class="container">
  <div class="row">

    <div class="col-xs-3">
        <%= render 'items/search' %>
    </div>

    <div class="col-xs-9">
        <h2>商品一覧</h2>


        <div class="item-index">
        <% @items.each do |item| %>
        <div class="items-list">
          <%= link_to item_path(item) do %>
            <%= attachment_image_tag item, :image, :fill, 180, 120, format: 'jpeg' %><br>
          <% end %>
          <%= item.name %><br>
          ¥<%= item.price %><br>
          
          <!--priceは税込み表示しないといけないので修正必要-->
        </div>
        <% end %>
        </div>





    </div>

  </div>
</div>