<%= render 'layouts/header' %>
<div class="container">
<div class="row">

  <div class="col-xs-3">
      <%= render 'items/search' %>
  </div>

<div class="col-xs-9">

<table>
  <div class="img_field">
    <%= attachment_image_tag @item, :image_id, :fill, 300, 300, format: 'jpeg' %>
  </div>

  <div class="field">
    <p><%= @item.name %></p>
  </div></br>
  <div class="field">
    <p><%= @item.introduction %></p>
  </div></br>
  <div class="field">
    <p><%= @item.genre.name %></p>
  </div></br>
  <div class="field">
    <p><%= @item.price %></p>
  </div></br>
  </div>
  </div>
</div>