<%= render 'layouts/header' %>
<div class="container">
  <div class="row">

    <div class="col-xs-3">
        <%= render 'items/search' %>
    </div>
    <div class="item-show">
      <div class="col-xs-4">
        <div class="item-show-img">
          <%= attachment_image_tag @item, :image, :fill, 340, 200, format: 'jpeg' %>
        </div>
      </div>
      <div class="col-xs-5">
        <h2><%= @item.name %></h2>
        <h4><%= @item.introduction %></h4>
        <h2>¥<%= tax_included_price(@item.price) %></h2>
        <div class="item-amount">
          <%= form_with model: @cart_item, url:'/cart_items' do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.label :amount, "数量" %>
            <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
            <%= f.submit 'カートに入れる', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>