<%= render 'layouts/header' %>
<div class="container">
  <div class="row">

    <div class="col-xs-3">
        <%= render 'items/search' %>
    </div>

    <div class="col-xs-9">
        <h2>商品詳細</h2>
        <h2>タイトル</h2>
        <p><%= @item.name %></p>
        <h2>本文</h2>
        <p><%= @item.introduction %></p>
        <p><%= @item.price %></p>
        <h2>画像</h2>
        <%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>
        
        
        
        
    </div>

  </div>
</div>