<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="logo">
          <!--< link_to 'ながのcake', root_path, class: 'navbar-brand' %>-->
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class='nav navbar-nav navbar-right'>
          <% if admin_signed_in? %>
            <li><%= link_to "商品一覧", new_admin_session_path %></li><!--パス暫定-->
            <li><%= link_to "会員一覧", admins_customers_path %></li>
            <li><%= link_to"注文履歴一覧", admins_orders_path %></li>
            <li><%= link_to"ジャンル一覧", admins_genres_path %></li>
            <li><%= link_to"ログアウト", destroy_admin_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "About", new_admin_session_path %></li><!--パス暫定-->
            <li><%= link_to "商品一覧", new_admin_session_path %></li><!--パス暫定-->
            <li><%= link_to"新規登録", new_customer_registration_path %></li><!--パス暫定-->
            <li><%= link_to"ログイン", new_customer_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>