<header>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
		  <a class="logo">
				<%= link_to 'ながのcake', root_path, class: 'navbar-brand' %>
		  </a>
		</div>
		<div class="navbar-guest-name">
			<% if customer_signed_in? %>
			  <p class="navbar-text">ようこそcustomer_nameさん</p>
			<% else %>
		      <p class="navbar-text">ようこそゲストさん</p>
		    <% end %>
		</div>

		<div class="collapse navbar-collapse navbar-right">
			<ul class="nav navbar-nav">
			  <% if customer_signed_in? %>
				<li><%= link_to 'マイページ', customer_path(current_customer) %></li>
				<li><%= link_to '商品一覧', items_path %></li>
				<li>カート</li>
				<li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
			  <% else %>
				<li><%= link_to 'About', home_about_path %></li>
				<li><%= link_to '商品一覧', items_path %></li>
				<li><%= link_to '新規登録', new_customer_registration_path %></li>
<<<<<<< HEAD
				<li><%= link_to 'ログイン', root_path %></li>
=======
				<li><%= link_to 'ログイン', new_customer_session_path %></li>
>>>>>>> 7759046e1d5e31b1326a64b7ae85a6591bad8f5b
				<!--新規とログインのパスがまだわからないのでtopのリンクになってます-->
			  <% end %>
			</ul>

		</div>
	</div>
</nav>
</header>