<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    

    <header>
    <%= render 'layouts/header' %>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
    <%= render 'layouts/footer' %>
    </footer>
<<<<<<< HEAD
    
=======
>>>>>>> 7759046e1d5e31b1326a64b7ae85a6591bad8f5b
  </body>
</html>
